<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://image.tmdb.org/t/p/original/hYA8GBCCVdtV2oUvQxGfbKiFofs.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://th.bing.com/th/id/R.7c2dc4634eb600796b89092437cfc213?rik=x2Wk0K%2fdt80sRA&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://th.bing.com/th/id/R.6d1ea77e329228f3c47524c1100ef609?rik=zxx5ImGytOJc%2fA&riu=http%3a%2f%2f3.bp.blogspot.com%2f-IPCRdn_OhCw%2fTgm7DZDfELI%2fAAAAAAAAAsY%2f4iml2XI5xbI%2fs1600%2ftitanic-movie-wallpapers-images-picture-photo%2b%25252822%252529.jpg&ehk=4uo95a0gWQ%2fgTz9xMG9dJ2z38Gt5QcoOlXn1IHp0yF4%3d&risl=&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
