.navbar-lewagon {
  justify-content: space-between;
  background: rgb(17, 17, 17);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#text {
  text-decoration: none;
  color: white;
  padding-right: 32px;
}
